{% extends 'useradmin/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Products List</h2>
            <p>Manage all your products from here</p>
        </div>
        <div>
            <a href="{% url 'useradmin:add_product' %}" class="btn btn-primary btn-sm rounded">Create Product</a>
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row align-items-center">
                
                <div class="col-md-3 col-6">
                    <form method="GET" action="{% url 'useradmin:products' %}">
                        <select class="form-select" name="status" onchange="this.form.submit()">
                            <option value="">All</option>
                            <option value="published" {% if selected_status == 'published' %}selected{% endif %}>Published</option>
                            <option value="in_review" {% if selected_status == 'in_review' %}selected{% endif %}>In Review</option>
                            <option value="draft" {% if selected_status == 'draft' %}selected{% endif %}>Draft</option>
                            <option value="disabled" {% if selected_status == 'disabled' %}selected{% endif %}>Disabled</option>
                            <option value="rejected" {% if selected_status == 'rejected' %}selected{% endif %}>Rejected</option>
                        </select>
                    </form>
                </div>
            </div>
        </header>
        <div class="card-body">
            {% for p in products %}
            <article class="itemlist">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                        <a class="itemside" href="#">
                            <div class="left">
                                <img src="{{ p.image.url }}" class="img-sm img-thumbnail" alt="Item">
                            </div>
                            <div class="info">
                                <h6 class="mb-0">{{ p.title }}</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-4 col-price"> <span>${{ p.price|floatformat:2 }}</span> </div>
                    <div class="col-lg-2 col-sm-2 col-4 col-status">
                        {% if p.product_status == 'published' %}
                            <span class="badge rounded-pill alert-success">Published</span>
                        {% elif p.product_status == 'in_review' %}
                            <span class="badge rounded-pill alert-warning">In Review</span>
                        {% elif p.product_status == 'draft' %}
                            <span class="badge rounded-pill alert-primary">Draft</span>
                        {% elif p.product_status == 'disabled' %}
                            <span class="badge rounded-pill alert-danger">Disabled</span>
                        {% endif %}
                    </div>
                    <div class="col-lg-1 col-sm-2 col-4 col-date">
                        <span>{{ p.date|date:"d M, Y" }}</span>
                    </div>
                    <div class="col-lg-3 col-sm-2 col-4 col-action text-end">
                        <a href="{% url 'useradmin:edit_product' p.pid %}" class="btn btn-sm font-sm rounded btn-brand">
                            <i class="material-icons md-edit"></i> Edit
                        </a>
                        <a href="{% url 'useradmin:delete_product' p.pid %}" class="btn btn-sm font-sm btn-light rounded">
                            <i class="material-icons md-delete_forever"></i> Delete
                        </a>
                    </div>
                </div> <!-- row .// -->
            </article> <!-- itemlist  .// -->
            {% endfor %}
        </div>
    </div>
    
</section>

{% endblock content %}