
    <main class="main" id="cart-list">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="{% url 'core:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                <span></span> Shop
                <span></span> Cart
            </div>
        </div>
    </div>
    <div class="container mb-80 mt-50">
        {% if cart_data %}
        <div class="row">
            <div class="col-lg-8 mb-40">
                <h1 class="heading-2 mb-10">Your Cart</h1>
                <div class="d-flex justify-content-between">
                    <h6 class="text-body">There are <span class="text-brand">{{ totalcartitems }}</span> products in your cart</h6>
                    <h6 class="text-body"><a href="#" id="clear-cart-btn" class="text-muted"><i class="fi-rs-trash mr-5"></i>Clear Cart</a></h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="table-responsive shopping-summery">
                    <table class="table table-wishlist">
                        <thead>
                            <tr class="main-heading">
                                <th class="custome-checkbox start pl-30">
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox11" value="">
                                    <label class="form-check-label" for="exampleCheckbox11"></label>
                                </th>
                                <th scope="col">Product</th>
                                <th scope="col">Title</th>
                                <th scope="col">Unit Price</th>
                                <th scope="col" class="text-center">Quantity</th>
                                <th scope="col">Subtotal</th>
                                <th scope="col" class="end">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product_id, item in cart_data.items %}
                            <tr class="pt-30">
                                <td class="custome-checkbox pl-30">
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox{{ forloop.counter }}" value="">
                                    <label class="form-check-label" for="exampleCheckbox{{ forloop.counter }}"></label>
                                </td>
                                <td class="image product-thumbnail pt-40"><img src="{{ item.image }}" alt="#"></td>
                                <td class="product-des product-name">
                                    <h6 class="mb-5"><a class="product-name mb-10 text-heading" href="{% url 'core:product-detail' item.pid %}">{{ item.title }}</a></h6>
                                </td>
                                <td class="price" data-title="Price">
                                    <h4 class="text-body">${{ item.price }} </h4>
                                </td>
                                <td class="text-center detail-info" data-title="Stock">
                                    <div class="detail-qty border radius">
                                        <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                        <input type="text" name="quantity" class="qty-val" value="{{ item.qty }}" min="1" data-product-id="{{ product_id }}" data-price="{{ item.price }}">
                                        <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                    </div>
                                </td>
                                <td class="price" data-title="Price">
                                    <h4 class="text-brand product-subtotal">${% widthratio item.price 1 item.qty %}</h4>
                                </td>
                                <td class="action text-center" data-title="Remove">
                                    <button style="border: none; background: none" class="text-body delete-product" data-product="{{ product_id }}"><i class="fi-rs-trash"></i></button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="divider-2 mb-30"></div>
                <div class="cart-action d-flex justify-content-between">
                    <a href="{% url 'core:product-list' %}" class="btn"><i class="fi-rs-arrow-left mr-10"></i>Continue Shopping</a>
                    <a href="{% url 'core:cart' %}" class="btn  mr-10 mb-sm-15"><i class="fi-rs-refresh mr-10"></i>Update Cart</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="border p-md-4 cart-totals ml-30">
                    <div class="table-responsive">
                        <table class="table no-border">
                            <tbody>
                                <tr>
                                    <td class="cart_total_label">
                                        <h6 class="text-muted">Subtotal</h6>
                                    </td>
                                    <td class="cart_total_amount">
                                        <h4 class="text-brand text-end" id="cart-subtotal">${{ cart_total_amount|floatformat:2 }}</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" colspan="2">
                                        <div class="divider-2 mt-10 mb-10"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="cart_total_label">
                                        <h6 class="text-muted">Shipping</h6>
                                    </td>
                                    <td class="cart_total_amount">
                                        <h5 class="text-heading text-end">Free</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="cart_total_label">
                                        <h6 class="text-muted">Total</h6>
                                    </td>
                                    <td class="cart_total_amount">
                                        <h4 class="text-brand text-end" id="cart-total">${{ cart_total_amount|floatformat:2 }}</h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href="{% url 'core:checkout_initiate' %}" class="btn btn-fill-out btn-block mt-30">Proceed To Checkout<i class="fi-rs-sign-out ml-15"></i></a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="heading-2 mb-10">Your Cart is Empty</h1>
                <p class="mb-20">Looks like you haven't added anything to your cart yet.</p>
                <a href="{% url 'core:product-list' %}" class="btn"><i class="fi-rs-shopping-cart mr-10"></i>Continue Shopping</a>
            </div>
        </div>
        {% endif %}
    </div>
</main>
